header {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #000000;
    padding: 0 1vw 0 1vw;
}

.logo,
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    justify-content: space-around;
}
.logo {
    justify-content:flex-start;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
}
 /* Nav bar */
.home-nav,
.menu-nav,
.contact-us-nav {
    height: 100%;
    width: 7rem;
    border: .05em solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 500;
    cursor: pointer;
}


.home-nav:hover {
    background-color: #ff3838;
    color: #ffffff;
}
.menu-nav:hover {
    background-color: #ff3838;
    color: #ffffff;
}
.contact-us-nav:hover {
    background-color: #ff3838;
    color: #ffffff;
}