.menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: #000000;
}

.menu > * {
    grid-template-columns: repeat(2, 1fr);
    height: 25rem;
    border-radius: 10% 10% 10% 10%;
    background-color: #ffffff;
}

.menu > *:hover {
    background-color: #ff5353;
}

.menu > * :first-child {
    font-style: italic;
    font-weight: 500;
    font-size: 1.8rem;
}

.item-img-0, 
.item-img-1,
.item-img-2,
.item-img-3 {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}